

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
    font-size: 1.6rem;
}
.navbar, .carousel{
    border-bottom:  3px solid gray;
}
.colorGreen {
    color: limegreen;
}
.colorYallow   {
    color:yellow;
}
.colorBlue {
    color:aqua;
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    color: limegreen !important;
    font-size: 1.8rem;
}
#hoverEmoji:hover, #hoverEmoji:active{
    font-size: 2.2rem;
    color: orange;

}
.slider-image {
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}



.card-image {
	height: 500px;
	background-size: cover;
	background-position: center;
}

@media (max-width: 991px) {
	.card-group {
		display: flex;
		flex-flow: column wrap;
	}
}

#recipes{
	padding: 30px 0px;
	border-radius: 10px;
  }
  #recipes h2 {
	font-weight: 900;
	font: 34px;
  }



.about-image {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}



.footer {
	font-family: sans-serif;
	font-size: 1rem;
	text-align: center;
	border-top: 1px solid #888;
}


/******************************************basbousa page********************************************************/

.img{
	padding-top: 50px;
}	
.receipe-headline span  {
	font-size: 14px;
	display: block;
	color: #a4a4a4;
	margin-bottom: 0; }
  .receipe-headline h2 {
	font-size: 36px;
	color: #474747;
	margin-bottom: 30px; }
	@media only screen and (max-width: 767px) {
	  .receipe-headline h2 {
		font-size: 24px; } }
  .receipe-headline .receipe-duration {
	border-left: 3px solid #40ba37;
	padding: 15px; }
	.receipe-headline .receipe-duration h6 {
	  font-size: 15px;
	  margin-bottom: 5px; }
	  .receipe-headline .receipe-duration h6:last-child {
		margin-bottom: 0; 
	}
	.receipe-ratings .ratings {
		margin-bottom: 30px; 
	}
	.receipe-ratings i {
		font-size: 18px;
		color: #fbb710;
		padding: 0 3px; 
	}
	.single-preparation-step {
		position: relative;
		z-index: 1;
		margin-bottom: 50px; 
	}

	.single-preparation-step h4 {
		  color: #474747;
		  -webkit-box-flex: 0;
		  -ms-flex: 0 0 60px;
		  flex: 0 0 60px;
		  max-width: 60px;
		  width: 60px;
		  margin-bottom: 0; 
	}
