

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
    font-size: 1.6rem;
}
.navbar, .carousel{
    border-bottom:  3px solid gray;
}
.colorGreen {
    color: limegreen;
}
.color   {
    color:yellow;
}
.colorBlue {
    color:aqua;
}
.nav-link{
    cursor: pointer;
}
.nav-link:active, .nav-link:hover{
    color: limegreen !important;
}
.slider-image {
    width: 100vw;
    height: 70vh;
    background-position: center;
    background-size: cover;
}